<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sobre a Biblioteca dos Sonhos</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/addbook">Cadastro de Livros</a></li>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/contato">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="container">
        <div class="main-content">
            <section id="sobre" class="about-section">
                <h2>Sobre a Biblioteca </h2>
                <img src="https://via.placeholder.com/800x400" alt="Biblioteca dos Sonhos">
                <p>Bem-vindo à Biblioteca do pig, um espaço mágico onde a literatura e a imaginação se encontram. Fundada em 2024, nossa biblioteca oferece uma vasta coleção de livros, desde clássicos atemporais até os mais recentes lançamentos. Além dos livros, oferecemos uma série de eventos culturais, clubes do livro e atividades educacionais para todas as idades.</p>
                <p>Nosso objetivo é promover o amor pela leitura e fornecer um ambiente acolhedor para a comunidade. Com uma equipe apaixonada e dedicada, estamos aqui para ajudar você a encontrar o livro perfeito e a participar de eventos que enriquecem a mente e o espírito.</p>
            </section>

            <section id="contato" class="contact-section">
                <h2>Entre em Contato Conosco</h2>
                <p>Se você tiver dúvidas ou deseja saber mais sobre nossas atividades, não hesite em nos contatar.</p>
                <p>Email: <a href="mailto:contato@bibliotecadopig.com">contato@bibliotecadopig.com</a></p>
                <p>Telefone: (71) 1234-5678</p>
            </section>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Biblioteca. Todos os direitos reservados.</p>
    </footer>
</body>
</html>